openapi: 3.0.1
info:
  title: Realty Mole Property Listings API
  description: 'The Realty Mole Property API provides US real-estate and property data: property records, AVM-based rental estimates and sale-price (value) estimates with comparable properties, and active for-sale and for-rent listings, queried by address or latitude/longitude. The API is distributed through RapidAPI and authenticated with RapidAPI headers (X-RapidAPI-Key, X-RapidAPI-Host). STATUS: The standalone Realty Mole Property API is legacy and superseded by the RentCast API (https://api.rentcast.io/v1). New integrations should use RentCast; existing Realty Mole users should follow the Realty Mole Migration Guide (https://developers.rentcast.io/reference/realty-mole-migration-guide).'
  termsOfService: https://rapidapi.com/realtymole/api/realty-mole-property-api
  contact:
    name: RealtyMole / RentCast
    url: https://www.rentcast.io/api
  version: '1.0'
servers:
- url: https://realty-mole-property-api.p.rapidapi.com
  description: Realty Mole Property API host on RapidAPI (legacy; superseded by RentCast)
security:
- RapidAPIKey: []
tags:
- name: Listings
  description: Active for-sale and for-rent listings near a location.
paths:
  /saleListings:
    get:
      operationId: getSaleListings
      tags:
      - Listings
      summary: Active for-sale listings
      description: Returns active for-sale listings near a location (address or latitude/longitude within a radius), including listing price, property attributes, days on market, and listing status.
      parameters:
      - name: address
        in: query
        required: false
        schema:
          type: string
      - name: latitude
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: longitude
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: radius
        in: query
        required: false
        description: Search radius in miles.
        schema:
          type: number
          format: double
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: A list of for-sale listings.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Listing'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /rentalListings:
    get:
      operationId: getRentalListings
      tags:
      - Listings
      summary: Active for-rent listings
      description: Returns active for-rent listings near a location (address or latitude/longitude within a radius), including listing rent, property attributes, days on market, and listing status.
      parameters:
      - name: address
        in: query
        required: false
        schema:
          type: string
      - name: latitude
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: longitude
        in: query
        required: false
        schema:
          type: number
          format: double
      - name: radius
        in: query
        required: false
        description: Search radius in miles.
        schema:
          type: number
          format: double
      - name: limit
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: A list of for-rent listings.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Listing'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  schemas:
    Listing:
      type: object
      description: An active for-sale or for-rent listing.
      properties:
        id:
          type: string
        formattedAddress:
          type: string
        addressLine1:
          type: string
        city:
          type: string
        state:
          type: string
        zipCode:
          type: string
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        price:
          type: number
          description: Listing price (for sale) or monthly rent (for rent).
        propertyType:
          type: string
        bedrooms:
          type: number
        bathrooms:
          type: number
        squareFootage:
          type: number
        lotSize:
          type: number
        yearBuilt:
          type: integer
        status:
          type: string
        daysOnMarket:
          type: integer
        listedDate:
          type: string
          format: date
  responses:
    RateLimited:
      description: Plan request quota or rate limit exceeded.
    Unauthorized:
      description: Missing or invalid RapidAPI key.
  securitySchemes:
    RapidAPIKey:
      type: apiKey
      in: header
      name: X-RapidAPI-Key
      description: 'RapidAPI subscription key. Requests must also send the header `X-RapidAPI-Host: realty-mole-property-api.p.rapidapi.com`.'
